.navbar-brand{
    text-align: center;
    width: 10%;
    margin-left: 40%;
    margin-right: 40%;
    font-size: xx-large;
    font-weight: bold;
}
#bin{
    width: 200px;
}
.topbooks img{
    margin: 30px;
    height: 200px;
}
.topbooks{
    background-color: bisque;
    font-size: small;
}
.mission{
    font-size: small;
}

td{
    padding-left: 200px;
}