<div id="app">

  <div class="brandcontainer navbar-dark bg-dark">
    <a href="/home" class="navbar-brand">Sportstore
    </a>
  </div>
  
    <nav class="navbar navbar-expand navbar-dark bg-dark">
  
      
  
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
  
   
  
         <li class="nav-item">
  
          <a href="/home" class="nav-link" routerLink="home">Home </a>
  
        </li>
  
       <li class="nav-item">
  
          <a href="/product" class="nav-link" routerLink="products">Product </a>
  
        </li>
  
         <li class="nav-item"  *ngIf="showModeratorBoard || showAdminBoard">
  
          <a href="/Add" class="nav-link" routerLink="add">Add </a>
  
        </li>
  
   
  
        <li class="nav-item" *ngIf="showAdminBoard">
  
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
  
        </li>
  
        <li class="nav-item" *ngIf="showModeratorBoard">
  
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
  
        </li>
  
        <li class="nav-item">
  
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
  
        </li>
  
   
  
      </ul>
  
   
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
  
        <li class="nav-item">
  
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
  
        </li>
  
        <li class="nav-item">
  
          <a href="/login" class="nav-link" routerLink="login">Login</a>
  
        </li>
  
      </ul>
  
   
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
  
        <li class="nav-item">
  
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
  
        </li>
  
        <li class="nav-item">
  
          <a href class="nav-link" (click)="logout()">LogOut</a>
  
        </li>
  
      </ul>
  
    </nav>
  
   
  
    <div class="container">
      <img id="bin" src="https://static.vecteezy.com/system/resources/previews/019/081/087/original/green-recycle-bin-with-recycle-symbol-free-png.png" alt="">
      <div class="mission">aa</div>
      
  
    </div>

    <div class="topbooks">
      <img src="https://cdn.codegym.cc/images/article/bbcda54e-3cd0-4dac-a77a-447484b8b487/512.webp" alt="">
        <img src="https://m.media-amazon.com/images/I/4168NWgku8L._AC_UF1000,1000_QL80_.jpg" alt="">
        <img src="https://cdn.kobo.com/book-images/80708cef-c25e-4f88-83a7-d3ebf23e7e20/353/569/90/False/introduction-to-java-programming.jpg" alt="">
    </div>
  
  </div>